@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Caprasimo&display=swap");

@import "tailwindcss";

@theme inline {
	--font-sans: "Bricolage Grotesque", sans-serif;
	--font-serif: "Caprasimo", serif;
	--font-mono: var(--font-geist-mono);
	--color-background: var(--color-purple-100);
	--color-foreground: var(--color-purple-950);
}
