@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-serif: "Caprasimo", serif;
	--font-mono: var(--font-geist-mono);
	--color-background: var(--color-purple-100);
	--color-foreground: var(--color-purple-950);
}
