@import "tailwindcss";

@theme inline {
	--font-sans: "Bricolage Grotesque", sans-serif;
	--font-serif: "Caprasimo", serif;
	--font-mono: var(--font-geist-mono);
	--color-background: var(--color-purple-100);
	--color-foreground: var(--color-purple-950);
	--color-secondary: #db5439;
}
